.contenedor {
	width: 95%;
	max-width:1000px;
	margin:auto;
}
 
.contenedor p {
	margin-bottom:px;
}
 
header nav {
	background:#7e63a2;
	margin-bottom:10px;
}
 
header nav ul {
	list-style: none;
	overflow: hidden;
}
 
header nav ul li {
	float: left;
}
 
header nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
	text-decoration: none;
}
 
header nav ul li a:hover {
	background:#592661;
}
 
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

.menu-fixed ul li a {
padding:15px 20px;
}

div {
    color: #fff;
    font-size: 16px;
}

body{
    background: url(imagenes/bg.png);

}

img{
    float: right;
}

.centro {
    text-align: center;
}

p {
    text-align: justify;
}

.bar ul {
	list-style: none;
}
.bar ul a{ 
	text-decoration: none;
	color: #fff;
}
.clear {
	float: none;
	text-align: center;
}
